[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
cfn_resource_provider = "*"
jwt_generator = "*"
cryptography = "*"
requests = "*"

[dev-packages]
git-release-tag = "*"

[requires]
python_version = "3.9"
